data/*
.ipynb_checkpoints/*
*.png
suricata_analysis/old/*
suricata_analysis/plots/*
suricata_analysis/theZoo_fragmented/*
suricata_analysis/theZoo_fragmented_random/*
suricata_analysis/theZoo_original/*
optims/*
*.pyc
src/experiments/*
experiments/*
*.pb
*.index
.coverage
model_hyperparameter.ipynb
src/hyperopt/*