data/*
.ipynb_checkpoints/*
*.png
*.pdf
*.model
suricata_analysis/old/*
suricata_analysis/plots/*
suricata_analysis/theZoo*
optims/*
*.pyc
src/experiments/*
experiments/*
*.pb
*.index
.coverage
model_hyperparameter.ipynb
src/hyperopt/*